<!-- <ul class="list-group">
    <div *ngFor="let tempStudent of students">
      <li class="list-group-item">
        {{tempStudent.firstName}}
        {{tempStudent.lastName}}

        <button mat-raised-button color="primary"
        (click)="addStudentToCourse(tempStudent.id)">Add</button>
        
        </li>
    </div>
  </ul> -->

  <p-dialog [(visible)]="studentDialog" [style]="{width: '450px'}" header="Students" [modal]="true"
  styleClass="p-fluid">

  <p-table [value]="students">
    
  
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>{{ student.firstName }} {{ student.lastName }} 
        </td>
        <td></td>
        <td><button pButton pRipple icon="pi pi-plus" class="p-button-rounded mr-2" (click)="addStudentToCourse(student.id)"></button></td>
      </tr>
  
    </ng-template>
  </p-table>

  
</p-dialog>