<!-- <ul class="list-group">
    <div *ngFor="let tempStudent of students">
      <li class="list-group-item">
        {{tempStudent.firstName}} {{tempStudent.lastName}}


      </li>
    </div>
  </ul> -->


<p-dialog id="dialog" [(visible)]="studentDialog" [style]="{width: '450px'}" header="Students" [modal]="true"
  styleClass="p-fluid" (onHide)="hideDialog()">

  <p-table [value]="students">

    <ng-template pTemplate="header">
      <tr>

        <th>First Name</th>
        <th>Last Name</th>



      </tr>

    </ng-template>


    <ng-template pTemplate="body" let-student>
      <tr>
        <td>{{ student.firstName }}
        </td>
        <td>{{ student.lastName }}</td>

    </ng-template>
    <ng-template pTemplate="emptymessage" let-student>
      <tr>
        <td>
           No Students Found
        </td>
      </tr>
    </ng-template>
  </p-table>

  


</p-dialog>