<section class="vh-100" style="background-color: #508bfc;">
  <form [formGroup]="signInForm" (ngSubmit)="onLogin()">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <span *ngIf="isNotExisting"
                  class="help-block">email/password is wrong, please check again</span>
              <h3 class="mb-5">Sign in</h3>

              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control form-control-lg" formControlName="email"
                  placeholder="Email" />
               

                <div *ngIf="isClicked">
                  <span *ngIf="!signInForm.get('email')?.valid && signInForm.get('email')?.touched || signInForm.get('email')?.value == null"
                  class="help-block">Please enter a valid email</span>
                </div>


              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" formControlName="password"
                  placeholder="Password" />


                <div *ngIf="isClicked">


                  <span
                    *ngIf="!signInForm.get('password')?.valid && signInForm.get('password')?.touched || signInForm.get('password')?.value == null"
                    class="help-block">Please enter a valid password</span>
                </div>
              </div>



              <button (click)="isClicked = true" class="btn btn-primary btn-lg btn-block" type="submit"
                style="background-color: #508bfc;">Login</button>




            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</section>